#shade {
    z-index: -2;
    max-width: 100%;
    position: absolute;
}

#palma {
    z-index: -1;
    position: absolute !important;
    top: 0px;
    right: 0px;
}

.container{
    margin-top: 25px;
}

.logo{
    bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    right: 0;
    top: 0;
    bottom: 10px !important;
    line-height: 2.2;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
}

li {
    display: block;
    text-align: center;
}

#small > li a {
    padding: 14px;
    padding-top: 0px !important;
    text-decoration: none;
    display: inline;
    color: #7b7070;
    text-decoration: none;
}

#small > li > a{
    letter-spacing: 0.1em;
}

#small > li:hover{
    background-color: #f6e4e8;
}


#small > li > a:hover{
    background-color: #f6e4e8;

    color: #f84970;
}

@media (max-width: 1024px) {

    
    .navigacija{
        max-width: 100% !important;
    }
}

.navbar{
    padding: 0px !important;
    border: 1px solid #dad7d7;
}

.navbar-nav{
    margin-right: 0px !important;
}

.navbar-nav > .nav-item > .nav-link{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: auto;
    padding-right: auto;
}

@media (max-width: 1366px){
    .navbar-nav > .nav-item > .nav-link{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 1200px){
    .navbar{
        margin-left: 20px;
    }
    .navbar-nav > .nav-item > .nav-link{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (min-width: 1200px){
    .navbar-nav > .nav-item > .nav-link{
        letter-spacing: 0.15em !important;
    }
}

@media (min-width: 1366px){
    .navbar-nav > .nav-item > .nav-link{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

#about{
    margin-left: 10px !important;
}

.navbar-nav > .nav-item :hover{
    background-color: #f84970;
    color: white !important;
}

@media (max-width: 992px){
    .w3-right{
        justify-content: right;
    }
    #about{
        margin: 0px !important;
    }
    .navbar{
        border: none !important;
        margin-bottom: 10px;
    }
    .logo{
        display: none;
    }
    #small{
        display: none;
    }
}

@media (min-width: 992px){
    .navbar-brand{
        display: none;
    }
    .navbar{
        background-color: #fff;
    }
}

.navigacija{
    padding: 0px;
    padding-right: 3px !important;
}


/* body .card {
    margin: -1px;
    border-radius: 0;
}
.card-header{
    padding: 0px;
    padding-top: 15px !important;
    background-color: #fff;
}

.card-header > img{
    width: 100%;
}

.card-body{
    padding: 15px 0px;
}

.card-body > h2{
    color: #f84970;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 11px;
    font-weight: 600;
}

.card-body > p{
    color: #929090;
    font-size: 14px;
}

.card-body > a{
    color: #bdb3b6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.card-body > a:hover{
    color: #929090;
}

.card-body > a:visited{
    color: #bdb3b6;
}

.smallCard{
    padding: 15px !important;
}

.smallCardContent > h2{
    font-size: 12px;
    color: #f84970;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.smallCardContent > h3{
    font-size: 22px !important;
}

.smallCardContent > p{
    font-size: 14px;
    color: #929090;
    margin-bottom: 5px !important;
}

.smallCardContent > a{
    color: #bdb3b6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.smallCardContent > a:hover{
    color: #929090;
}

.smallCardContent > a:visited{
    color: #bdb3b6;
}

.smallCardImage > img{
    width: 100%;
}

.copy{
    color: #929090;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.animated:hover {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    border: 1px solid #e8e8e8;
    color: black;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 1px 1px 0 #f84970, 1px 2px 0 #f84970, 3px 3px 0 #f84970, 4px 4px 0 #f84970, 5px 5px 0 #f84970, 6px 6px 0 #f84970, 7px 7px 0 #f84970, 8px 8px 0 #f84970, 9px 9px 0 #f84970, 10px 10px 0 #f84970;
    box-shadow: 1px 1px 0 #f84970, 1px 2px 0 #f84970, 3px 3px 0 #f84970, 4px 4px 0 #f84970, 5px 5px 0 #f84970, 6px 6px 0 #f84970, 7px 7px 0 #f84970, 8px 8px 0 #f84970, 9px 9px 0 #f84970, 10px 10px 0 #f84970;
}





 */






 body .card {
    margin: -1px;
    border-radius: 0;
}




.card-header{
    padding: 0px;
    padding-top: 15px !important;
    background-color: #fff;
}

.card-header > img{
    width: 100%;
}

.card-body{
    padding: 15px 0px;
}

.card-body > h2{
    color: #f84970;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 11px;
    font-weight: 600;
}

.card-body > p{
    color: #929090;
    font-size: 14px;
}

.card-body > a{
    color: #bdb3b6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.card-body > a:hover{
    color: #929090;
}

.card-body > a:visited{
    color: #bdb3b6;
}

.smallCard{
    padding: 15px !important;
}

.smallCardContent > h2{
    font-size: 12px;
    color: #f84970;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.smallCardContent > h3{
    font-size: 22px !important;
}

.smallCardContent > p{
    font-size: 14px;
    color: #929090;
    margin-bottom: 5px !important;
}

.smallCardContent > a{
    color: #bdb3b6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.smallCardContent > a:hover{
    color: #929090;
}

.smallCardContent > a:visited{
    color: #bdb3b6;
}

.smallCardImage > img{
    width: 100%;
}

.copy{
    color: #929090;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.animated:hover {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    border: 1px solid #e8e8e8;
    color: black;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 1px 1px 0 #f84970, 1px 2px 0 #f84970, 3px 3px 0 #f84970, 4px 4px 0 #f84970, 5px 5px 0 #f84970, 6px 6px 0 #f84970, 7px 7px 0 #f84970, 8px 8px 0 #f84970, 9px 9px 0 #f84970, 10px 10px 0 #f84970;
    box-shadow: 1px 1px 0 #f84970, 1px 2px 0 #f84970, 3px 3px 0 #f84970, 4px 4px 0 #f84970, 5px 5px 0 #f84970, 6px 6px 0 #f84970, 7px 7px 0 #f84970, 8px 8px 0 #f84970, 9px 9px 0 #f84970, 10px 10px 0 #f84970;
}
